<form method="post">
	<input type="text" name="post" placeholder="post" />
	<input type="submit" value="absenden"/>
</form>
{{ post }}
<form method="get">
	<input type="text" name="get" placeholder="get" />
	<input type="submit" value="absenden"/>
</form>
{{ get }}
<p>Cookie: {{ cookie }}</p>
<form method="post" enctype="multipart/form-data">
	<input type='file' name='file' />
	<input type='submit' value='absenden' />
</form>
<p>Fileset: {{ fileset }}</p>
<p>ServerVariable with HTTP_HOST for example:  {{ server.HTTP_HOST }}</p>