<!DOCTYPE html>
<html>
	<head>
		<title>menu</title>
	</head>
	<body>
		<h1>Menu</h1>
		<ol>
			<li><a href="/render">render</a></li>
			<li><a href="/setVariable">setVariable</a></li>
			<li><a href="/import">import</a></li>
			<li><a href="/include">include</a></li>
			<li><a href="/for">for</a></li>
			<li><a href="/block">block</a></li>
			<li><a href="/use">use</a></li>
			<li><a href="/translation">translation</a></li>
			<li><a href="/patternVariable/value">patternVariable</a></li>
			<li><a href="/db/msgContent">db</a></li>
			<li><a href="/http">http</a></li>
			<li><a href="/JsonResponse">JsonResponse</a></li>
			<li><a href="/validationTest">validationTest</a></li>
			<li><a href="/authentication">authentication</a></li>
			<li><a href="/fileUpload">fileUpload</a></li>
			<li><a href="/fillElement">fillElement</a></li>
			<li><a href="/poll">poll</a></li>
			<li><a href="/scrollBottom">scrollBottom</a></li>
		</ol>
	</body>
</html>