<!DOCTYPE html>
<html>
<head>
<title>jQuery Ajax Example with JSON Response</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script src="/js/ajax.js"></script>
 
<!-- Write Javascript code here -->
 
</head>
 
<body>
  <form method="post" action="">
    <button value="all" type="submit">Get All Wines!</button>
    <button value="red" type="submit">Get Red Wines!</button>
    <button value="white" type="submit">Get White Wines!</button>
  </form>
  <div id="wines">
  <!-- Javascript will print data in here when we have finished the page -->
  </div>
 <script>
 	$(document).ready(function(){
  		$(':submit').on('click', function(){
    		$.ajax({
		      url: '/test/hey',
		      data: 'button=' + $(this).val(),
		      dataType: 'json',
		    })
		    .done(function(data) {
		    	alert(data.white);
		    });
		return false;
		});	
	});
 </script>
</body>
</html>