<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Long-Polling</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
		<script src="/js/upload/file-drag-drop.js" type="text/javascript"></script>
	</head>
	<body>
		<form method="post" action="/fileupload" enctype="multipart/form-data" class="dropzone" id="my-awesome-dropzone">
			<div class="fallback">
				<input type='file' name='file' />
			</div>
			<input type='submit' value='abschießen' />
		</form>
	<script>
		var myDropzone = new Dropzone("div#fallback", { url: "/dragdropfileuploadBackend"});
	</script>
	</body>
</html>